<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>###page_name### | ###PLATFORM_NAME###</title>

    <meta name="description" content="###page_seo_dscription###">
    <meta name="keywords" content="###page_seo_keywords###">
    <meta name="robots" content="###page_seo_robots###">

    <base href="###BASEURL###">

    <link rel="stylesheet" href="###BASEURL###data/template/css/bootstrap.min.css">
    <link rel="stylesheet" href="###BASEURL###data/template/css/frontend.css?###RANDOM###">
    <link rel="stylesheet" href="###BASEURL###data/template/css/custom.css?###RANDOM###">

    <script>
    </script>

</head>
<body>

<main>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="###BASEURL###">###PLATFORM_NAME###</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    -->
                    <cb:navigation
                            ignore="14,2"
                            level1="<li class='nav-item'><a href='###LINK###' class='nav-link' data-toggle='tooltip' data-bs-placement='right' title='###page_name###'>###page_name###</a></li>"
                            level1_selected="<li class='nav-item'><a href='###LINK###' class='nav-link active' data-toggle='tooltip' data-bs-placement='right' title='###page_name###'>###page_name###</a></li>"
                    />
                    <!--
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                    -->
                </ul>
                <!--
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                -->
            </div>
        </div>
    </nav>


###part_content###

    <div class="container">
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
            <svg class="bi" width="30" height="24" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Company, Inc</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-body-secondary" href="#" aria-label="Instagram">
                <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#instagram"></use></svg></a></li> <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Facebook"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg>
            </a>
        </li>
    </ul>
</footer>
    </div>

</main>

<script src="###BASEURL###data/template/js/bootstrap.bundle.min.js"></script>
<script src="###BASEURL###data/template/js/jquery.min.js"></script>
<script>

    //
    var BASEURL = '###BASEURL###';
    var SESSION = URL.createObjectURL(new Blob([])).slice(-36);

    //
    $(document).off('click', '.classid_button');
    $(document).on('click', '.classid_button', function () {
        document.location.href = BASEURL+$(this).attr("data-path");
    });

    //
    if(document.getElementById('detailModal')) {
        var globalDetailModal = new bootstrap.Modal(document.getElementById('detailModal'), {
            backdrop: 'static',
            keyboard: false
        });
    }
    if(document.getElementById('privacyModal')) {
        var globalPrivacyModal = new bootstrap.Modal(document.getElementById('privacyModal'), {
            backdrop: 'static',
            keyboard: false
        });
    }

    //
    var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    //
    const dropdownElementList = document.querySelectorAll('.dropdown-toggle')
    const dropdownList = [...dropdownElementList].map(dropdownToggleEl => new bootstrap.Dropdown(dropdownToggleEl))

    var boolFirstQuestion = false;
    if(document.getElementById('myDropdown')) {
        var myDropdown = new bootstrap.Dropdown(document.getElementById('myDropdown'), {autoClose: 'true'});
    }




</script>
<script src="###BASEURL###data/template/js/custom.js"></script>

</body>
</html>
