
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?php echo CONFIGURATION["plattform_name"]; ?></title>

    <link rel="stylesheet" href="<?php echo BASEURL; ?>data/template/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo BASEURL; ?>data/template/css/frontend.css?<?php echo time(); ?>">


    <script>

    </script>

</head>
<body>

###part_content###


<script src="<?php echo BASEURL; ?>data/template/js/bootstrap.bundle.min.js"></script>
<script src="<?php echo BASEURL; ?>data/template/js/jquery.min.js"></script>

<script>

    //
    var BASEURL = '<?php echo BASEURL; ?>';
    var SESSION = URL.createObjectURL(new Blob([])).slice(-36);

    //
    $(document).off('click', '.classid_button');
    $(document).on('click', '.classid_button', function () {
        document.location.href = BASEURL+$(this).attr("data-path");
    });

    //
    var globalDetailModal = new bootstrap.Modal(document.getElementById('detailModal'), {
        backdrop: 'static',
        keyboard: false
    });
    var globalPrivacyModal = new bootstrap.Modal(document.getElementById('privacyModal'), {
        backdrop: 'static',
        keyboard: false
    });

    //
    var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    //
    const dropdownElementList = document.querySelectorAll('.dropdown-toggle')
    const dropdownList = [...dropdownElementList].map(dropdownToggleEl => new bootstrap.Dropdown(dropdownToggleEl))

    var boolFirstQuestion = false;
    var myDropdown = new bootstrap.Dropdown(document.getElementById('myDropdown'), {autoClose: 'true'});





</script>
</body>
</html>
