<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?php echo CONFIGURATION["platform_name"]; ?></title>

    <base href="<?php echo BASEURL; ?>">

    <link rel="stylesheet" href="<?php echo BASEURL; ?>data/template/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo BASEURL; ?>data/template/css/frontend.css?<?php echo time(); ?>">


    <script>

    </script>

</head>
<body>

<cb:navigation
        entry="14"
        highlightDEVPath="1"
        level1="<li><a href='###LINK###' class='nav-link py-2 px-0 ###page_data_icon### side_navigation_icon' data-toggle='tooltip' data-bs-placement='right' title='###page_name###'></a></li>"
        level1_selected="<li><a href='###LINK###' class='nav-link py-2 px-0 ###page_data_icon### side_navigation_icon_selected' data-toggle='tooltip' data-bs-placement='right' title='###page_name###'></a></li>"
        level2="<li><a href='###LINK###' class='nav-link py-2 px-0 ###page_data_icon### side_navigation_icon' data-toggle='tooltip' data-bs-placement='right' title='###page_name###'></a></li>"
        level2_selected="<li><a href='###LINK###' class='nav-link py-2 px-0 ###page_data_icon### side_navigation_icon_selected' data-toggle='tooltip' data-bs-placement='right' title='###page_name###'></a></li>"
/>

###structure_name###---
###part_content###


<script src="<?php echo BASEURL; ?>data/template/js/bootstrap.bundle.min.js"></script>
<script src="<?php echo BASEURL; ?>data/template/js/jquery.min.js"></script>

<script>

    //
    var BASEURL = '<?php echo BASEURL; ?>';
    var SESSION = URL.createObjectURL(new Blob([])).slice(-36);

    //
    $(document).off('click', '.classid_button');
    $(document).on('click', '.classid_button', function () {
        document.location.href = BASEURL+$(this).attr("data-path");
    });

    //
    if(document.getElementById('detailModal')) {
        var globalDetailModal = new bootstrap.Modal(document.getElementById('detailModal'), {
            backdrop: 'static',
            keyboard: false
        });
    }
    if(document.getElementById('privacyModal')) {
        var globalPrivacyModal = new bootstrap.Modal(document.getElementById('privacyModal'), {
            backdrop: 'static',
            keyboard: false
        });
    }

    //
    var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    //
    const dropdownElementList = document.querySelectorAll('.dropdown-toggle')
    const dropdownList = [...dropdownElementList].map(dropdownToggleEl => new bootstrap.Dropdown(dropdownToggleEl))

    var boolFirstQuestion = false;
    if(document.getElementById('myDropdown')) {
        var myDropdown = new bootstrap.Dropdown(document.getElementById('myDropdown'), {autoClose: 'true'});
    }




</script>
</body>
</html>
